$font-family: 'Work Sans';

$primary-color: #0072BC;
$secondary-color: #004777;
$gray-lightest: #f9f9f9;
$gray-light: #eee;
$gray-medium: #ccc;
$gray-dark: #333;
$black: #000;
$white: #fff;

$break-main: 600px;
